body {
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  background-color: black;
}

h1 {
    font-size: 4rem;
    font-family: 'Kreon', serif;
}

h2, h3 {
    font-family: 'Roboto Slab', serif;
}

nav ul {
  list-style-type: none;
    width: 100%;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 0px;
}

nav li {
  display: inline-flex;
  margin: 10px;
  padding: 20px;
}
